## #1 Figure out how to print the current date and time. 
The solution should be in this format:  2021-08-05 11:56:30 (YYYY-MM-DD HH:MM:SS)

Hint:  You're going to have to import a library

In [7]:
# "YYYY-MM-DD HH:MM:SS"
import datetime
print(datetime.datetime.now().strftime("%y-%m-%d %H:%M:%S"))

22-08-10 19:28:25

## #2 Write a function that accepts the radius of a circle and returns the area of a circle.  
The function for the area of a circle is pi * radius squared.

In [8]:
import math
def circle_area(radius):
    return math.pi* radius** 2


print(circle_area(2))

12.566370614359172

## #3 Write a function that takes a list of numbers and returns True of all number in the list are unique and returns False if the list contains duplicate numbers. 
* Hint, maybe think of using a set()

Input:  input_list = [2,4,5,5,7,9]

Expected Output:  False

In [11]:
def is_unique(input_list: list):
    return [num for num in set(input_list)] == input_list

print(is_unique([2, 3, 5, 5, 7, 9]))

False

## #4 Write a Python program to count the number of each character of a given text of a text file.
* Use the text file called 'lil-wayne.txt' in the data folder.  
* Convert all the characters to uppercase first, then count them.  
* Use a dictionary in which the keys of the dictionary are the characters, and the values are the counts of that character. 

Expected Result:  `{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, '"': 8, "'": 3, '—': 1}`

In [17]:
from collections import Counter
char_dict = dict()
text_stream = str()

with open('data/lil-wayne.txt', 'r') as stream:
    text_stream = stream.read().upper()

char_count = dict(Counter(text_stream))

print(char_count)

# Slower manual method
for char in text_stream:
    char_dict[char] = char_dict.get(char, 0) + 1

print(char_dict)

{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}
{'D': 74, 'W': 63, 'A': 211, 'Y': 44, 'N': 165, 'E': 274, ' ': 522, 'M': 77, 'I': 185, 'C': 60, 'H': 122, 'L': 126, 'R': 152, 'T': 180, 'J': 8, '.': 26, '(': 12, 'B': 59, 'O': 145, 'S': 152, 'P': 39, '2': 24, '7': 7, ',': 37, '1': 28, '9': 16, '8': 6, ')': 12, '[': 14, ']': 14, 'K': 13, 'F': 44, 'G': 53, 'X': 5, 'U': 66, 'V': 20, '3': 2, '4': 4, '5': 5, '6': 3, '0': 36, '\n': 6, '-': 6, ';': 1, '!': 1, 'Â': 1, '€': 1, '”': 1}

# 4.5 Figure out how to sort the dictionary to find which character appears the most.

In [18]:
# Naive way
max = 0
result_tuple = tuple()

for char in char_count:
    if char_count[char] > max:
        max = char_count[char]
        result_tuple = (char, char_count[char])

print(result_tuple)

(' ', 522)

## #5 Using the list below...
* Remove the fourth number from the list.
* Take that number you just removed and multiply the last number of the list by that number. 
* Append that number to the end of the list.
* Print the list

INPUT: [1, 1, 2, 3, 5, 8, 13, 21]

EXPECTED OUTPUT:  [1, 1, 2, 5, 8, 13, 21, 63]

In [19]:
list1 = [1, 1, 2, 3, 5, 8, 13, 21]
fourth_element = list1[3]
list1.remove(list1[3])
list1.append(list1[-1]*fourth_element)

print(list1)

[1, 1, 2, 5, 8, 13, 21, 63]

## #6 Using the list below, make a new list that contains only the numbers from the original list that are divisible by three.

* Input:  original_list = [2, 3, 6, 8, 9, 15, 19, 21]
* Expected new list:  [3, 6, 9, 15, 21]

In [20]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]

div_three = [num for num in original_list if num % 3 == 0]

print(div_three)

[3, 6, 9, 15, 21]

## #7 Reverse the list below

In [21]:
original_list = [2, 3, 6, 8, 9, 15, 19, 21]
original_list[::-1]

[21, 19, 15, 9, 8, 6, 3, 2]

## #8 Using the list below, turn every item of the list into its square.  
* Input original_list = [1, 2, 3, 4, 5, 6, 7]
* Expected new_list:  [1, 4, 9, 16, 25, 36, 49]

In [22]:
original_list = [1, 2, 3, 4, 5, 6, 7]
squared_list = [num**2 for num in original_list]
print(squared_list)

[1, 4, 9, 16, 25, 36, 49]

## #9  Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order.
Given input:
```
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
```

Expected Output:
```
10 400
20 300
30 200
40 100
```

In [30]:
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]

for index in range(len(list1)):
    print(list1[index], list2[-(1 + index)])

10 400
20 300
30 200
40 100

## #10 Remove empty strings from the list of strings.
Input:  `list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']`

Expected Output:  `['I', 'love', 'data', 'science', '!']`

In [31]:
list_of_strings = ['I', 'love', '', '', 'data', '', 'science', '!']
def remove_empty(list_string: list):
    return [string for string in list_of_strings if string]

print(remove_empty(list_of_strings))

['I', 'love', 'data', 'science', '!']

##  #11 Check if the value 999 exists in the dicitionary below.  If so, print true, if not print false.

Input: sample_dict = {'a': 100, 'b': 999, 'c': 300}

Expected Output:  True

In [32]:
sample_dict = {'a': 100, 'b': 999, 'c': 300}

def has_999(sample_dict: dict):
    return 999 in sample_dict.values()

print(has_999(sample_dict))

True

# Extra Credit

## Using pandas, read the csv file in the data folder called `titianic.csv` and store it as a variable named `df`.

In [34]:
import pandas as pd
df = pd.read_csv('data/titanic.csv')
df.head(5)

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## I know we didn't cover this, but figure out how to find the mean age of the age column in your dataframe.

In [35]:
mean_age = df['age'].mean()
print(mean_age)

29.69911764705882

## What was the oldest and youngest ages on the titanic?

In [37]:
oldest_age = df['age'].max()
youngest_age = df['age'].min()

print("Oldest: {0} year(s), Youngest: {1} year(s)".format(oldest_age, youngest_age))

Oldest: 80.0 year(s), Youngest: 0.42 year(s)

## How many people embarked from station 'S'?

In [47]:
embrk_distribution = df['embarked'].value_counts()
# All the emabarks
print(embrk_distribution)
# S only embark
print('S only emabark', embrk_distribution['S'])

S    644
C    168
Q     77
Name: embarked, dtype: int64
S only emabark 644